rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /announcements/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /homeImage/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
